
Editor/Materials/s4_base.shadergraph
Editor/Materials/s4_base.shadergraph.meta
Editor/Materials/S4_Base_Mat_Cutout.mat
Editor/Materials/S4_Base_Mat_Opaque.mat
Editor/Materials/S4_Base_Mat_Cutout.mat
Editor/Materials/S4_Base_Opaque.shader.meta
Editor/Materials/S4_Base_Mat_Opaque.mat
